<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
    />
    <style>
      err {
        color: darkred;
        display: inline;
      }
      @font-face {
        font-family: "icomoon";
        src: url("fonts/icomoon.eot?jjr475");
        src: url("fonts/icomoon.eot?jjr475#iefix") format("embedded-opentype"),
          url("fonts/icomoon.ttf?jjr475") format("truetype"),
          url("fonts/icomoon.woff?jjr475") format("woff"),
          url("fonts/icomoon.svg?jjr475#icomoon") format("svg");
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      [class^="icon-"],
      [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: "icomoon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .icon-home:before {
        content: "\e900";
      }
    </style>
  </head>
  <body>
    <h1>Registro de nuevo usuario</h1>
    <span class="icon-home"></span>
    <form action="/register" method="post">
      {{ csrfField() }}
      <label for="username">Nombre de usuario:</label><br />
      <input
        type="text"
        name="username"
        value="{{ old('username', '') }}"
      /><br />
      @if(hasErrorFor('username'))
      <err>{{ getErrorFor("username") }}</err
      ><br />
      @endif
      <label for="email">Correo electrónico:</label><br />
      <input type="email" name="email" value="{{ old('email', '') }}" /><br />
      @if(hasErrorFor('email'))
      <err>{{ getErrorFor("email") }}</err
      ><br />
      @endif
      <label for="password">Contraseña:</label><br />
      <input type="password" id="password" name="password" /><br />
      @if(hasErrorFor('password'))
      <err>{{ getErrorFor("password") }}</err
      ><br />
      @endif
      <label for="password_confirmation">Contraseña:</label><br />
      <input type="password" name="password_confirmation" /><br />

      <br />
      <input type="submit" value="Registrarse" />
    </form>
  </body>
</html>
